@import '../../styles/common.scss';

.tag-card {
  background-color: rgba($voyago-pink, 0.1);
  border: 1px solid $voyago-pink;
  border-radius: 5px;
  color: $voyago-pink;
  font-size: 14px;
  margin-right: 15px;
  padding: 3px;
}
