@import '../../styles/variables.scss';

.section-two {
  &-container {
    height: 450px;
  }
}

.section-four {
  &-container {
    height: 500px;
  }
}

.section-six {
  &-container {
    height: 450px;
  }
}