@import '../../styles/common.scss';
.label {
  color: $voyago-white;
  &:hover {
    color: $voyago-off-white;
  }
}
.rounded-btn {
  background-color: $voyago-primary;
  border-radius: 20px;
  color: $voyago-white;
  padding: 8px 16px 8px 16px;
  @media #{$mobile-device} {
    font-size: 0.7rem;
  }
  &-transparent {
    border-radius: 20px;
    background-color: transparent;
    border: $voyago-white solid 1px;
    color: $voyago-white;
    @media #{$mobile-device} {
      font-size: .9rem;
    }
  }
}
