@import '../../styles/common.scss';

.rounded-btn {
  background-color: $voyago-primary;
  border-radius: 20px;
  color: white;
  &-transparent {
    border-radius: 20px;
    background-color: transparent;
    border: $voyago-white solid 1px;
    color: white;
  }
}
