@import '../../styles/common.scss';

.error-msg {
  color: $voyago-error;
  font-size: 0.7rem;
}

.form-btn-container {
  padding: 10px;
}

.location-search {
  &-dropdown-container {
    border: solid $voyago-dark 1px;
  }
  &-suggestion-item {
    background-color: $voyago-white;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 8px;
    &-active {
      background-color: $voyago-pink;
      color: $voyago-white;
      cursor: pointer;
      font-size: 1.1rem;
      padding: 8px;
    }
  }
}
.text-form {
  &-container {
    padding: 5px;
  }
  &-field {
    border: 1px solid #DDDDDD;
    font-size: 0.8rem;
    outline: none;
    padding: 10px;
    &:focus {
      border: 1px solid $voyago-primary;
      box-shadow: 0 0 5px $voyago-primary;
    }
  }
}

