@import '../../styles/common.scss';

.checkout {
  &-footer {
    background-color: $voyago-white-bg;
    bottom: 0;
    border-top: $voyago-grey solid 1px;
    color: $voyago-dark;
    height: 4rem;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    &-checkout {
      &-btn-container {
        display: flex;
        justify-content: flex-end;
      }
      &-container {
        align-self: center;
        width: 50%;
      }
    }
    &-dates {
      color: $voyago-grey;
      font-size: 14px;
      @media #{$tablet-device} {
        font-size: 0.7rem;
        padding-left: 6px;
      }
    }
    &-logo-container {
      padding-left: 12px;
      width: 5%;
      @media #{$tablet-device} {
        padding-left: 0;
      }
    }
    &-name {
      @media #{$tablet-device} {
        font-size: 0.7rem;
        text-align: center;
      }
      &-container {
        margin-top: 10px;
        padding-left: 20px;
        @media #{$tablet-device} {
          padding-left: 35px;
        }
      }
    }
    &-rating {
      color: $voyago-pink;
      font-size: 8px;
      padding-left: 15px;
      display: initial;
      @media #{$tablet-device} {
        font-size: 6px;
        padding-left: 4px;
      }
      &-num {
        color: $voyago-grey;
        font-size: 14px;
        padding-left: 2px;
      }
    }
    &-total {
      align-self: center;
      font-size: 1.25rem;
      &-title {
        align-self: center;
        padding-right: 10px;
      }
      &-amount {
        align-self: center;
        color: $voyago-grey;
        font-size: 1.5rem;
        font-weight: 500;
        padding-left: 5px;
        padding-right: 8px;
        @media #{$tablet-device} {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          text-align: center;
        }
      }
      &-per {
        font-size: .7rem;
        font-style: italic;
        font-weight: 200;
        margin-left: 5px;
      }
    }
  }
}