@import './variables.scss';

a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: $font-stack;
  font-weight: 100;
}

.Toastify__toast-container--top-right {
  top: 4em !important;
  right: 1em;
}

.app-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}