@import './variables.scss';

a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: $font-stack;
  font-weight: 100;
}

ol, ul {
  list-style: none;
}

.Toastify__toast-container--top-right {
  top: 4em !important;
  right: 1em;
}