@import '../../styles/common.scss';

.package {
  &-activities {
    &-container {
      justify-content: center;
      padding: 0 20px 100px 20px;
    }
    &-title {
      justify-content: center;
      width: 100%;
      &-row {
        width: 100%;
      }
    }
  }
  &-banner {
    @extend  %align-all;
    background-size: cover;
    background-position: center;
    color: $voyago-white;
    font-size: 4rem;
    height: 60vh;
    width: 100vw;
    &-title {
      padding-top: 33vh;
      text-align: center;
      text-shadow: 1px 1px 4px $voyago-dark;
      width: 100%;
    }
    &-price {
      font-size: 3rem;
      padding: 10px;
      text-align: right;
      text-shadow: 1px 1px 4px $voyago-dark;
      width: 100%;
    }
  }
  &-container {
    background-color: $voyago-white;
    height: 100vh;
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }
  &-info {
    &-box {
      display: flex;
      justify-content: center;
      margin-left: 15px;
      width: 25vw;
      &-description {
        font-size: 0.8rem;
        font-style: italic;
        padding: 20px;
        text-align: center;
        width: 100%;
      }
      &-title {
        font-size: 1.5rem;
        padding-top: 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        &-top {
          font-size: 1.5rem;
          letter-spacing: 10px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
    &-container {
      display: flex;
      height: 200px;
      justify-content: center;
      margin-bottom: 200px;
      width: 100vw;
    }
    &-warning {
      font-size: 0.5rem;
      padding-bottom: 100px;
      text-align: center;
      font-style: italic;
    }
  }
  &-itinerary {
    &-card-container {
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 20px 200px 20px 140px;
      width: 100%;
    }
    &-container {
      display: grid;
      padding: 80px 40px;
      justify-content: center;
    }
    &-day {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
      text-align: center;
      text-orientation: upright;
      writing-mode: vertical-rl;
    }
    &-desc {
      margin: 0;
      padding: 10px 40px;
      width: 90%;
    }
  }
  &-overview {
    &-container {
      display: grid;
      margin: 0;
      padding: 20px;
    }
    &-desc {
      justify-content: center;
      margin: 0;
      padding: 40px 25vw;
    }
    &-title {
      font-size: 2.5rem;
      justify-content: center;
      margin: 0;
      text-transform: uppercase;
    }
  }
}
