@import '../../styles/common.scss';

.explore {
  &-banner {
    height: 20vh;
    width: 100%;
    @media #{$mobile-device} {
      height: 180px;
    }
    &-categories {
      justify-content: center;
      margin: 0;
      padding-bottom: 80px;
      width: 100%;
    }
  }
  &-container {
    background-color: $voyago-white;
    height: 100vh;
    max-width: 100vw;
    padding: 70px 50px;
    @media #{$mobile-device} {
      padding: 70px 0;
    }
  }
  &-header {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
  }
  &-mobile-banner-categories {
    display: flex;
    height: 90px;
    overflow-x: scroll;
    padding: 0 15px;
  }
  &-packages {
    padding-bottom: 50px;
    &-row {
      width: 100%;
    }
  }
}
