@import '../../styles/variables.scss';

.header {
  @extend %vertical-align-underneath;
  background-color: $voyago-dark;
  height: 45px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  &-logo {
    height: 12px;
    padding-left: $tenth-width;
  }
}