@import '../../styles/common.scss';

.booking {
  &-container {
    background-color: $voyago-white;
    height: 100vh;
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }
  &-view-container {
    padding-bottom: 60px;
    padding-top: 40px;
  }
}

.personal-info {
  &-birthday {
    justify-content: center;
  }
  &-container {
    background-color: $voyago-white;
    display: grid;
    justify-content: center;
    max-width: 100vw;
    padding: 45px 0 100px;
  }
  &-form {
    padding: 20px;
  }
  &-title-container {
    justify-content: center;
  }
}

.spinner-container {
  @extend %align-all;
  height: 80vh;
}